body {
    background-color: #1d265f;
}


h1 {
    font-family: 'Nosifer', cursive;
    color: white;
    position: relative;
    text-align: center;

}

h3 {
    color: white;
    margin-left: 15px;
    font-size: 15px;
}

#terms {
    color: white;
    font-size: 15px;
    margin-left: 15px;
    position: relative;

}

#film-menu{
    
    cursor: pointer;
    display: flex;
    height: 400px;
    position: relative;
    margin-left: 550px;
    color: white;
    
   
}

#film-details {
    color: white;
    text-align: center;
    font-size: 18px;
}

#title {
    text-align: center;
}

#run {
    text-align: center;
}
#show {
    text-align: center;
}

#available {
    text-align: center;
}

#runtime {
    text-align: center;
    color: white;
    font-size: 18px;
}

#showtime {
    text-align: center;
    color: white;
    font-size: 18px
}

#Available-tickets {
    text-align: center;
    color: white;
    font-size: 18px;
}

#films {
    display: flex;
    height: 100px;
}

#sell {
    text-align: center;
    margin-left: 610px;
    position: absolute;
    padding: 16px 32px ;
    border: none;
    cursor: pointer;

}