body {
    background-color: #1d265f;
}

h1 {
    color: white;
    
}


h2 {
    font-family: 'Nosifer', cursive;
    color: white;
    margin-top: -120px;
    position: relative;
    text-align: center;

}

h3 {
    color: white;
    margin-left: 15px;
    font-size: 15px;
}

#terms {
    color: white;
    font-size: 15px;
    margin-left: 15px;
    position: relative;

}

#film-menu{
    
    cursor: pointer;
    background-size: 300px;
    border: 2px solid;
    
   
}